@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<h3>Here is a little more information about Baconsale</h3>

<img src="~/img/baconsale.jpg" />

<a href="https://baconsale.com/">Click here to go to the Baconsale site.</a>
